.dashboard {
    width: 100%;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
}

.task-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columns {
    margin-top: 20px;
    overflow-x: auto;
    display: flex;
    column-gap: var(--gutter);
}