.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.content {
    width: calc(100% - 232px - (var(--gutter) * 3));
    padding: var(--gutter) var(--gutter) var(--gutter) 0px;
}