.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.content {
    width: calc(100% - var(--sidebar-width) - (var(--gutter) * 3));
    margin-left: calc(var(--sidebar-width) + (var(--gutter) * 2));
    padding: var(--gutter) var(--gutter) var(--gutter) 0px;
}