.avatar {
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}